.jumbotron {
  background-color: #5edcff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.banner {
  margin-top: 70px;
}
.footer {
  background-color: #5edcff;
  color: black;
  margin-top: 60px;
  margin-bottom: 0px;
}
.card-soft {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 50px;
}
.btn-contacto {
  width: 95%;
  position: absolute;
  background-color: lightgrey;
  border-color: lightgrey;
  color: blue;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
.tab-pane {
  padding-top: 10px;
}
