$lightblue: ligthblue;
$yellow: #ffffff;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $lightblue;
	color: black;

	@include margenes(50px, 0px);
}

.banner {
	
	margin-top: 70px;
}
.footer {
	
	background-color: $lightblue;
	color: black;
	
	@include margenes(60px, 0px);
	
}

.card-soft {
	
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 50px;
	
}

.btn-contacto {
	width: 95%;
	position: absolute;
	background-color: lightgrey;
	border-color: lightgrey;
	color: blue;
	border-radius: 0px;
	
}

.tab-content {
	padding-top: 10px;
}
.tab-pane {
	padding-top: 10px;
}